body{
	font-family: arial,helvetica;
	color: #333;
	color: rgba(0,0,0,.5);
}

.pagewrap{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}

h1{
	postioning: relative;
	float: left;
	top: -5px;
	padding: 5px;
	margin:  40px;
	margin-top: -40px;
	font-size: 6em;
}

	#section0{
		background-size: cover;
		background-image: url(initialbg.jpg);
	}
	
h4{
	position: relative;
	z-index: 10;
	float: left;
	top: -50px;
}
p{
	positioning: relative;
	float: left;
	font-size: 1.2em;
	width: 400px;
    height: 90px;
	padding: 5px;
    margin-left: 50px;
	margin-right: 25px;
}

ul {
	positioning: relative;
	float: left;
	font-size: 1.2em;
	width: 350px;
	height: 90px;
	padding: 5px;
    margin-left: 50px;
	margin-right: 25px;
}


/* VIDEO CSS */

	#myVideo{
			position: absolute;
			right: 0;
			bottom: 0;
			top:0;
			right:0;
			width: 100%;
			height: 100%;
			background-size: 100% 100%;
			background-color: black; /* in case the video doesn't fit the whole page*/
			background-image: /* our video */;
			background-position: center center;
			background-size: contain;
			object-fit: cover; /*cover video background */
			z-index:3;
		}



	/* Layer with position absolute in order to have it over the video
	* --------------------------------------- */
	#section1 .layer{
		position: absolute;
		z-index: 4;
		width: 100%;
		left: 0;
		top: 43%;
	}

	/*solves problem with overflowing video in Mac with Chrome */
	#section1{
		overflow: hidden;
	}

div#test{ border:#000 1px solid; padding:10px 40px 40px 40px; }
